.chat {
  background-color: #dddddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #eee;
  bottom: 0;
  height: 600px;
  position: absolute;
  right: 20px;
  width: 400px;
}
