.chat-messages {
  display: flex;
  flex-direction: column;
  height: 485px;
  list-style-type: none;
  overflow: auto;
  padding: 0;
}

.chat-message {
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 70%;
}

.chat-message-user {
  background-color: cornflowerblue;
  align-self: flex-end;
}
