.chat-footer {
  background-color: #e3e4f0;
  bottom: 0;
  color: aliceblue;
  position: absolute;
  width: 400px;
}

.chat-input {
  background-color: #e3e4f0;
  border: 0;
  color: #282847;
  font-size: 14px;
  outline: none;
  padding: 20px;
  width: 290px;
}

.chat-button {
  background-color: aliceblue;
  border: 0;
  color: cornflowerblue;
  font-size: 16px;
  padding: 5px;
  width: 55px;
  cursor: pointer;
}
